html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 600px, #ed6142 600px, #ed6142 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 600px, #ed6142 600px, #ed6142 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 600px, #ed6142 600px, #ed6142 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100%;

  .header {
    flex: 1 100%;

    .topTitle {
      font-size: 32px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 60px;
    }

    .subTitle {
      font-size: 40px;
      padding-bottom: 60px;
    }
  }

  .body {
    flex: 1 100%;
    flex-grow: 10;
    background-color: white;
    margin-bottom: 40px;
    margin-left: 60px;
    padding: 30px 50px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(140, 140, 140, 0.78);
    -moz-box-shadow: 0px 0px 25px 2px rgba(140, 140, 140, 0.78);
    box-shadow: 0px 0px 25px 2px rgba(140, 140, 140, 0.78);

    @media screen and (max-width: 440px) {
      & {
        margin-left: 30px;
      }
    }

    @media screen and (max-width: 320px) {
      & {
        margin-left: 15px;
      }
    }

    .button {
      color: #777777;
      background-color: #CCCCCC;
      font-size: 16px;
      padding: 6px 40px;
      cursor: pointer;
      text-transform: uppercase;
    }

    .errorInSearch {
      font-size: 32px;
      color: red;
    }
  }
}

@import './productList.scss';
@import './shipping.scss';