
.body {
  .product {
    display: flex;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 30px;
    padding-top: 30px;

    @media screen and (max-width: 767px) {
      & {
        flex-wrap: wrap;
      }
    }

    .productImage {
      padding: 10px;
      margin: 10px;
      width: 100px;
      height: 100px;

      -webkit-box-shadow: 0px 0px 10px 4px rgba(140, 140, 140, 0.78);
      -moz-box-shadow: 0px 0px 10px 4px rgba(140, 140, 140, 0.78);
      box-shadow: 0px 0px 10px 4px rgba(140, 140, 140, 0.78);

      border-radius: 4px;

      @media screen and (max-width: 320px) {
        & {
          text-align: center;
          flex: 1;
        }
      }
    }

    .productText {
      text-align: left;
      padding-top: 10px;
      flex-grow: 2;
      padding-left: 10px;
      padding-right: 10px;

      @media screen and (max-width: 767px) {
        & {
          width: 100%;
          padding-bottom: 20px;
        }
      }

      .productTitle {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 20px;
      }

      .productDescription {
        font-size: 12px;
      }
    }

    .productControls {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      border-left: 1px solid #CCCCCC;

      @media screen and (max-width: 767px) {
        & {
          border: none;
          width: 50%;
          padding: 0 0 0 10px;
          text-align: left;
          align-items: center;
          justify-content: left;
        }
      }

      @media screen and (max-width: 440px) {
        & {
          width: 100%;
        }
      }

      .productCount {
        color: #CCCCCC;
        width: 25px;

        @media screen and (max-width: 767px) {
          & {
            text-align: center;
          }
        }

        @media screen and (max-width: 440px) {
          & {
            flex: 10;
          }
        }
      }

      .decreaseProduct,
      .increaseProduct {
        font-size: 26px;
        cursor: pointer;
        color: #CCCCCC;
        border: 1px solid #CCCCCC;
        border-radius: 2px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        width: 15px;

        @media screen and (max-width: 440px) {
          & {
            flex: 1;
          }
        }
      }

      .decreaseProduct {
        margin-right: 15px;
      }

      .increaseProduct {
        margin-left: 15px;
      }
    }

    .productActions {
      display: flex;
      align-items: center;
      justify-content: right;

      @media screen and (max-width: 767px) {
        & {
          justify-content: flex-end;
          width: 50%;
          margin-left: -20px;
        }
      }

      @media screen and (max-width: 440px) {
        & {
          justify-content: flex-start;
          width: 100%;
          padding-left: 10px;
          margin-left: 0;
          padding-top: 20px;
        }
      }

      .trashProduct {
        align-self: flex-start;
        text-align: right;
        color: #CCCCCC;
        cursor: pointer;
        padding-top: 10px;

        @media screen and (max-width: 440px) {
          & {
            padding-top: 0;
          }
        }
      }

      .productPrice {
        width: 100px;

        @media screen and (max-width: 440px) {
          & {
            flex: 1;
            text-align: left;
          }
        }
      }
    }
  }

  .totalPriceRow {
    text-align: right;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .buyButtonRow {
    text-align: right;
  }
}