
.shippingCart {
  text-align: left;

  form {
    max-width: 400px;
  }

  .formRow {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 440px) {
      & {
        display: block;
      }
    }

    &.formShippingRow {
      justify-content: flex-end;
    }

    .label {
      flex: 1 0 120px;
    }

    .errorText {
      font-size: 10px;
      color: red;
    }

    select {
      width: 224px;
      height: 25px;
      border: 1px solid #CCCCCC;

      @media screen and (max-width: 440px) {
        & {
          width: 100%;
        }
      }
    }

    input {
      width: 200px;
      padding: 3px 10px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;

      @media screen and (max-width: 440px) {
        & {
          width: 100%;
        }
      }

      &.invalid {
        border: 1px solid red;
      }

    }

    .shippingCartButton {
      text-align: right;

      .button {

      }
    }
  }

  label {
    span {
      width: 150px;
      display: inline-block;
    }
  }
}